<a href="<%- config.root %><%- item.path %>">
  <% if (item.cover_image){ %>
  <div class="hovereffect">
    <img class="full-img" src="<%- config.root %><%- item.path %><%- item.cover_image %>"
      alt="<%- item.title || theme.default_post_title || "Untitled" %>">
    <% } %>
    <div class="overlay">
      <span class="overlay-text"><%- item.title || theme.default_post_title || "Untitled" %></span>
    </div>
  </div>
</a>
<div style="padding-bottom: 0.2em;"></div>
